[Unit]
Description=run first-boot configuration scripts once
DefaultDependencies=no
Conflicts=shutdown.target
After=local-fs-pre.target
Before=local-fs.target sysinit.target shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/date --set=@1624888888
ExecStart=/bin/sh /root/first_boot/scripts.sh
ExecStart=/bin/systemctl disable first_boot.service
ExecStart=/bin/rm -f /etc/systemd/system/first_boot.service
StandardOutput=journal
StandardError=journal
TimeoutSec=120s

[Install]
WantedBy=sysinit.target
